/def_frame_annot_sense_ids.txt
*.xlsx
/defgen_dataset_cwn
/denoising_dataset_cwn
/asbc5_words_pos.pkl
/annotation.json
/rating_raw_data_220707.csv
/rating_response_stat.csv
/annot_frameinfo_list.pkl
/rating_materials.n10.raw.pkl
/nouns_vec4gloss_frameinfo_list.pkl
/annot_tokenparams_list.pkl
/rating_tokenparams_list.pkl
/token-params-ratings.csv
/token-params-annot.csv
/auto_metrics.csv
